  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    --cor-backgroung: #000000;
    --cor-container: #222222;
    --color-font: #ffffff;
    --cor-aside: #121212;
    --cor-sobre: #252525;
    --cor-jornada: #252525;
    --cor-networking: #252525;
    --cor--icon: #2c69c4fd;
}

body {
    background-color: var(--cor-backgroung);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row-reverse;
}

.section-container {
    background-color: var(--cor-container);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sobre {
    background-color: var(--cor-sobre);
    color: var(--color-font);
    margin-bottom: 10px;
    padding: 5px;
}

.sobre ul {
    list-style: none;
}

.jornada {
    background-color: var(--cor-jornada);
    color: var(--color-font);
    font-size: 16px;
    margin: 10px 0px;
    padding: 5px;
}

.networking {
    background-color: var(--cor-networking);
    color: var(--color-font);
    margin-top: 10px;
    padding: 5px;
}

.networking-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.networking-lista-item {
    background-color:#303030;
    width: 295px;
    height: 250px;
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.networking-lista-item img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 2px;
}

.networking-lista-item .subitem {
    text-align: center;
}

.networking-lista-item .subitem h1 {
    margin: 2px 0px;
}

.networking-lista-item .subitem p {
    margin: 2px 0px;
    text-align: center;     
} 

.networking-lista-item a {
    margin: 2px 0px;
}

aside {
    background-color: var(--cor-aside);
    color: var(--color-font);
    width: 100%;
    padding: 50px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img {
    width: 180px;
    border-radius: 100%;
    margin-bottom: 5px;
}

aside h1 {
    margin: 10px 0px 30px 0px;
    font-size: 24px;
}

aside a {
    color: var(--color-font);
    margin-top: 5px;
    text-decoration: none;
    margin: 8px 0px;
}

.icon {
    display: flex;
    justify-content:center;
    gap: 12px;
    border: 1px solid var(--color-font);
    width: 80%;
    align-items: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
}

.icon:hover {
    color: var(--cor--icon);
    border: 1px solid var(--cor--icon);
}



@media screen and (max-width: 888px) {
    .networking-lista-item {
        width: 500px;
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 777px) {
    body {
        flex-direction: column-reverse;
    }

    .icon {
        border: none;
        font-size: 0px;
    }

    .icon:hover {
        border: none;
    }
}
