  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    --cor-background: #000000;
    --cor-cards: #303030;
    --cor-container: #222222;
    --cor-fonte: #ffffff;
    --cor-font-h2: #909090;
    --cor-aside: #121212;
    --cor-background-div: #252525;
    --cor--button: #2c69c4;
}

body {
    background-color: var(--cor-background);
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row-reverse;
}

.section-container {
    background-color: var(--cor-container);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section-container h2 {
    font-size: 20px;
    color: var(--cor-font-h2);
}

.sobre {
    color: var(--cor-fonte);
    margin-bottom: 10px;
    padding: 5px;
}

.sobre .descricao {
    background-color: var(--cor-cards);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;

}

.sobre ul {
    list-style: none;
}

.jornada {
    color: var(--cor-fonte);
    font-size: 16px;
    margin: 10px 0px;
    padding: 5px;
}

.jornada p {
    background-color: var(--cor-cards); 
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}

.networking {
    color: var(--cor-fonte);
    margin-top: 10px;
    padding: 5px;
}

.networking-div {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-image: url(../svg/background.svg);
}

.networking-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.networking-lista-item {
    background-color: var(--cor-cards);
    width: 295px;
    height: 250px;
    margin: 3px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.networking-lista-item a {
    color: var(--cor-fonte);
    font-size: 28px;
}

.networking-lista-item img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 2px;
}

.networking-lista-item .subitem {
    text-align: center;
}

.networking-lista-item .subitem h1 {
    margin: 2px 0px;
}

.networking-lista-item .subitem p {
    margin: 2px 0px;
    text-align: center;     
} 

.networking-lista-item a {
    margin: 2px 5px;
}

.networking-lista-item a:hover {
    color: var(--cor--button);
}

aside {
    background-color: var(--cor-aside);
    color: var(--color-font);
    width: 70%;
    padding: 50px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img {
    width: 180px;
    border-radius: 100%;
    margin-bottom: 5px;
}

aside h1 {
    color: var(--cor-fonte);
    margin: 10px 0px 30px 0px;
    font-size: 24px;
}

aside a {
    color: var(--cor-fonte);
    margin-top: 5px;
    text-decoration: none;
    margin: 8px 0px;
}

.aside-button {
    width: 150px;
}


.button {
    display: flex;
    justify-content:center;
    gap: 12px;
    border: 1px solid var(--cor-fonte);
    align-items: center;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
}

.button:hover {
    color: var(--cor--button);
    border: 1px solid var(--cor--button);
}


@media screen and (max-width: 909px) {
    .networking-lista-item {
        width: 500px;
        justify-content: space-evenly;
    }

    aside {
        width: 100%;
    }


}

@media screen and (max-width: 777px) {
    body {
        flex-direction: column-reverse;
    }

    aside {
        padding: 50px 5px 15px 5px;
    }

    aside h1 {
        margin: 10px 0px 5px 0px;
    }

    .button {
        border: none;
        font-size: 0px;
        flex-direction: row;
    }

    .aside-button {
        display: flex;
        justify-content: center;
    }

    .button:hover {
        border: none;

    }

}


