* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row-reverse
}

.section-container {
    background-color: cadetblue;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.sobre {
    background-color: red;
    margin: 20px 20px 10px 20px;
    height: 25vh;

}

.jornada {
    background-color: green;
    margin: 10px 20px 10px 20px;
    height: 25vh;
}

.networking {
    background-color: chartreuse;
    margin: 10px 20px 20px 20px;
    height: 80vh;
}

aside {
    background-color: goldenrod;
    height: 100vh;
    width: 80vh;
    padding: 50px 10px;
}

aside img {
    width: 150px;
    border-radius: 100px;
}


@media screen and (max-width: 767px) {

    body {
        flex-direction: column-reverse;
    }

    .sobre {
        margin: 0px;
    }

    .jornada {
        margin: 0px;
    }

    .networking {
        margin: 0px;
    }

    aside {
        width: 100%;
        height: 100%;
    }
}
